extends layout

block content
	#menu
		button#new New Game
		button#load Load Game
	#bugReportMessage
		| Please <a href="http://github.com/cjbrowne/Malice/issues/">report this bug</a> with as much information as possible.
		| Including copying and pasting everything that shows up in the developer console, if you know how.
	#debug
		.label Viewport Resolution:
		#debug_res.value
		.label Map Coordinates:
		#debug_coords.value 0,0
		.label Frames Per Second:
		#debug_fps.value 0