extends layout

block content
	#menu
		button#new New Game
		button#load Load Game
	#bugReportMessage
		| Please <a href="http://github.com/cjbrowne/Malice/issues/">report this bug</a> with as much information as possible.
		| Including copying and pasting everything that shows up in the developer console, if you know how.