body
	padding 50px
	background-color #334
#gameView
	padding 0
	margin auto
	position absolute
	top 0
	left 0
	right 0
	bottom 0
#healthDisplay
	position absolute
	left 1em
	top 1em
	font 14pt "Lucida Grande", Helvetica, Arial, sans-serif
#healthBar
	height 1.5em
	background-color red