body {
  padding: 50px;
  background-color: #334;
}
#gameView {
  padding: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#menu {
  padding: 0;
  position: absolute;
  margin: auto;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 16em;
  height: 20em;
  display: none;
}
#menu button {
  background-color: #333;
  color: #ccc;
  width: 7em;
  height: 3em;
  margin: auto;
  font-size: 24pt;
  border-width: 0.5em;
  border-radius: 0.5em;
}
#menu #new {
  background-color: #003;
  border-color: #00f;
}
#menu #load {
  background-color: #030;
  border-color: #0f0;
}
#error {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: none;
  background-color: #300;
}
#error span.error {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 25em;
  height: 8em;
}
#error span.error h1 {
  text-align: center;
  font-size: 24pt;
}
#bugReportMessage {
  display: none;
}
